#addToppingButton {
  font-size:10px;
}

#orderTotal {
  display:none;
}

#cart li {
  display:none;
}

.jumbotron h2 {
  font-family: 'Indie Flower', cursive;
}

.jumbotron img {
  max-width: 100%;
}
.heading h2 {
  font-family: 'Indie Flower', cursive;
}
.viewCart li {
  list-style: none;
  border: solid;
  border-color: lightGray;
  margin-top: 3px;
  background-color: lightBlue;
  padding: 5px;
}

.center {
  text-align: center;
}
